<div class="logoContainerStatic">
    <img src="assets/img/logo.svg">
    <img src="assets/img/LogoName.svg">
</div>

<div class="imprint-div">
    <h1>Impressum</h1>
    <div>
        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Julia Wessolleck<br />
           c/o Mein Impressum Service (3615)<br />
           Viereckweg 103<br/>
           13125 Berlin
        </p>
    </div>
    <h2>Kontakt</h2>
    Senden Sie mir eine Nachricht über mein Portfolio
    <a href="https://julia-developer.de/angular-projects/mein-portfolio/#/">Portfolio</a>
       
</div>